pandas
setuptools
pyarrow
astropy
numpy
scipy
matplotlib
jupyter
camb
powerbox
tqdm

# then install with pip ('pip install -e .' while in package dir)
# git+https://github.com/lisaleemcb/catwoman.git
